
div {
    padding: 8px 18px;
    border: 1px solid #fedb7e;
    border-radius: 15px;
  }
  
div:hover {
    background: linear-gradient(
      94.75deg,
      #d19a08 0%,
      #fedb7e 16.49%,
      #ebb935 43.37%,
      #fcd776 74.96%,
      #d19a08 100%
    );
    cursor: pointer;
    color: black;
  }