.btn {
  padding: 12px 24px;
  /* border: 1px solid #fedb7e; */
  border-radius: 20px;
  font-weight: bold;
  background: linear-gradient(
      94.75deg,
      #c6940d 0%,
      #cda825 16.49%,
      #ffe397 43.37%,
      #cda825 74.96%,
      #c6940d 100%
    )
    90% 0;
  color: black;
  background-size: 200% 100%;
  transition: all 600ms ease;
  font-size: 1rem;
  border: none;
  outline: none;
  text-decoration: none;
  text-anchor: middle;
}

.btn:hover {
  cursor: pointer;
  transform: scale(1.02);
  /* transform-origin: 50% 50%; */
  background-position: 0 0;
  box-shadow: 0 0 15px #9f9874b3;
}

@media screen and (min-width: 1500px) {
  .btn {
    transform: scale(1.1);
  }
}

@media screen and (max-width: 450px) {
  .btn {
    font-size: 0.8rem;
  }
}
