.cloudsWrapper {
  width: 100vw;
  height: 100vh;
  z-index: 100;
  position: relative;
}

.cloud {
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  mask-mode: alpha;
  object-fit: cover;
  position: absolute;
  mask-image: image(url("../Assets/Mask.svg"));
  animation: cloud-left 4s cubic-bezier(0.31, 0.62, 0.31, 0.96);
}

.cloudL1 {
  top: -10vh;
  left: -40vw;
}

.cloudL2 {
  top: 35vh;
  left: -35vw;
}

.cloudL3 {
  top: -10vh;
  right: 5vw;
}

.cloudR1 {
  top: -15vh;
  right: -32vw;
  animation: cloud-right 4s cubic-bezier(0.31, 0.62, 0.31, 0.96);
}

.cloudR2 {
  top: 30vh;
  right: 0vw;
  animation: cloud-right 4s cubic-bezier(0.31, 0.62, 0.31, 0.96);
}

.cloudR3 {
  top: 34vh;
  right: -40vw;
  animation: cloud-right 4s cubic-bezier(0.31, 0.62, 0.31, 0.96);
}

@keyframes cloud-left {
  0% {
    transform: translate(-100%, 100%);
    opacity: 0.4;
  }

  40% {
    opacity: 0.7;
  }

  60% {
    opacity: 0.8;
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes cloud-right {
  0% {
    transform: translate(100%, -100%);
    opacity: 0.4;
  }

  40% {
    opacity: 0.7;
  }

  60% {
    opacity: 0.8;
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
