* {
  box-sizing: border-box;
}

.formControl {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  align-items: center;
}

.inputContainer input {
  width: 100%;
  height: 100%;
  position: absolute;
  outline: none;
  border: none;
  background: none;
  color: white;
  padding-left: 10px;
  font-size: 20px;
  z-index: 1;
}

.inputContainer {
  position: relative;
  display: flex;
  height: 45px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
  border-bottom: 2px solid gray;
}

.label {
  color: goldenrod;
  z-index: 1;
  font-size: 1.3rem;
  padding: 5px 0 0 5px;
  transform-origin: left;
  transition: 0.2s;
}

.caretClass {
  height: 100%;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  scale: 0.93;
}

.rotateUp {
  transform: rotate(180deg);
}
.rotateDown {
  transform: rotate(0);
}

.eventsContainer {
  position: relative;
  height: 150px;
  width: 100%;
  margin-top: 2px;
  border: 2px solid gray;
  padding: 5px;
  overflow-y: scroll;
}
.eventsContainer::-webkit-scrollbar {
  display: none;
}

.eventsContainer > li {
  list-style: none;
  background-color: rgb(93, 93, 93);
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 5px 10px;
  border-radius: 0.4rem;
  font-size: 17px;
  height: min-content;
  width: fit-content;
  margin: 4px 3px;
}

.shiftLabelUp {
  transform: translateY(-100%) scale(0.65);
}

.shiftLabelDown {
  transform: none;
}

.dropDown {
  gap: 1px;
  z-index: 5;
  position: absolute;
  bottom: -2px;
  width: 100%;
  height: 0px;
  background-color: rgb(52, 52, 52);
  transition: 0.2s;
  overflow-y: scroll;
}

.dropDown > li {
  height: 40px;
  width: 100%;
  padding: 0 5px;
  background-color: rgb(13, 13, 13);
  font-size: 20px;
  margin-bottom: 1px;
  display: flex;
  align-items: center;
}

.dropDown::-webkit-scrollbar {
  width: 2px;
}

.dropDown::-webkit-scrollbar-track {
  background-color: rgb(35, 35, 35);
}

.dropDown::-webkit-scrollbar-thumb {
  background-color: rgb(182, 182, 182);
  border-radius: 100vw;
}

.showList {
  height: 120px;
  bottom: -122px;
}

.hideList {
  height: 0;
  bottom: -2px;
}

a.ruleBook{
  /* width: 100%; */
  /* display: flex; */
  /* justify-content: center; */
  color:#d19a08;
  font-size: 1.35rem;
  display: flex;
  /* justify-content: center; */
  margin-left: 5px;
  height: 35px;
  align-items: center;
  text-decoration: none;
  transition: 0.3s;
  position: relative;

}
.ruleBook::after{
  content: '';
  position: absolute;
  /* width: 26%; */
  width: 0;
  bottom: 0;
  height: 1.5px;
  background-color: #d19a08;
  transition: 0.3s;
  color:#d19a08;

}
.ruleBook:hover::after{
  width: 29%;
 color:gold;
}
.ruleBook > i{
  color:#d19a08
}

@media screen and (max-width: 800px) {
  .label {
    font-size: 15px;
  }

  .dropDown > li {
    font-size: 15px;
  }

  .eventsContainer > li {
    font-size: 12px;
  }
  .ruleBook:hover::after{
    width: 35%;
  }
}

@media screen and (max-width: 760px) {
  .inputContainer input {
    font-size: 17px;
  }

  .inputContainer {
    height: 38px;
  }
}
