.eventItemCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  width: 18vw;
  padding: 0 20px;
  position: relative;
  border-radius: 20px;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  transform-origin: 50% 50%;
}

.eventItemHeading {
  font-size: 1.5rem;
  color: white;
  font-weight: 500;
  margin-bottom: 20px;
}

.eventItemImg {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.eventItemClick {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.8) 100%
  );
}

.eventItemClickTriag {
  width: 10px;
  margin-bottom: 4px;
}

.eventItemClick:hover > .eventItemClickTriag {
  animation: triagHover 1.3s ease infinite;
}

@keyframes triagHover {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(0);
  }
}
