.eventItemCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  width: 15vw;
  height: 55vh;
  padding: 0 20px;
  position: absolute;
  top: 0;
  left: calc(50% - 7.5vw);
  border-radius: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  transform-origin: 50% 50%;
  transform-style: preserve-3d;
  transition: all 500ms ease;
}

.eventItemBody {
  position: relative;
  border-radius: 20px;
  background-size: 110% 110%;
  background-repeat: no-repeat;
  background-position: center;
  width: 15vw;
  height: 50vh;
  transition: all 200ms ease;
  overflow: auto;
}

.eventItemCont:hover > .eventItemBody {
  transform: scale(1.008);
}

.eventItemActiveCont:hover > .eventItemBody {
  transform: scale(1.02);
  box-shadow: 0 0 10px #9f9874b3;
}

.eventItemHeading {
  font-size: 1.5rem;
  color: white;
  font-weight: 500;
  margin-bottom: 20px;
}

.eventItemClick {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );
  text-align: center;
  border-radius: 20px;
}

.eventItemClickTriag {
  width: 10px;
  margin-bottom: 4px;
  animation: triagHover 1.3s ease infinite;
}

@keyframes triagHover {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(0);
  }
}
