.eventSec {
  --width: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  overflow: visible;
}

.eventsCarCont {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.eventsCar {
  position: relative;
  width: 80vw;
}

.eventsArr {
  width: 1vw;
  transition: all 200ms ease;
}

.eventsArr img {
  object-fit: contain;
  width: 100%;
}

.eventsLeftArr {
  transform: rotate(180deg);
}

.eventsRightArr:hover {
  transform: translateX(4px);
}

.eventsLeftArr:hover {
  transform: rotate(180deg) translateX(4px);
}

.eventsPlaceholder {
  width: var(--width);
  height: calc(var(--width) * 2);
  opacity: 0;
}

@media screen and (max-width: 1200px) {
  .eventSec {
    --width: 17vw;
  }
}

@media screen and (max-width: 1000px) {
  .eventSec {
    --width: 20vw;
  }
}

@media screen and (max-width: 800px) {
  .eventSec {
    --width: 25vw;
  }

  .eventsArr {
    display: none;
  }

  .eventsCar {
    width: 20vw;
  }
}

@media screen and (max-width: 500px) {
  .eventSec {
    --width: 60vw;
  }
}
