.eventItemCont {
  --numItem: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  width: var(--width);
  height: calc(var(--width) * 2);
  padding: 0 20px;
  position: absolute;
  top: 0;
  left: calc(50% - var(--width) / 2);
  border-radius: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  transform-origin: 50% 50%;
  transform-style: preserve-3d;
  transition: all 500ms ease;
}

.eventItemBody {
  position: relative;
  border-radius: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  width: var(--width);
  height: 50vh;
  transition: all 2s ease;
  overflow: hidden;
  pointer-events: none;
  box-shadow: none;
}

.eventItemCont:hover > .eventItemBody {
  transform: scale(1.008);
}

.eventItemActiveCont > .eventItemBody {
  transform: scale(1.02);
  box-shadow: 0 5px 20px -15px rgba(255, 174, 0, 0.75);
  animation: glow 2.9s ease infinite;
}

.eventItemHeading {
  font-size: 1.4rem;
  color: white;
  font-weight: 500;
  margin-bottom: 20px;
}

.eventItemClick {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.7) 100%
  );
  text-align: center;
  border-radius: 20px;
}

.eventItemClickTriag {
  width: 10px;
  margin-bottom: 4px;
  animation: triagHover 1.3s ease infinite;
}

@keyframes triagHover {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(0);
  }
}

@media screen and (max-width: 1200px) {
  .eventItemHeading {
    font-size: 1.2rem;
  }
}

@keyframes glow {
  0% {
    box-shadow: 0 5px 20px -15px rgba(255, 174, 0, 0.75);
  }
  55% {
    box-shadow: 0 5px 20px -5px rgba(255, 174, 0, 0.9);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 174, 0, 0.75);
  }
}
