.eventSec {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  overflow: visible;
}

.eventsCar {
  position: relative;
}

.btn {
  /* position: absolute; */
  width: 100%;
  /* top: 92%; */
  display: flex;
  justify-content: center;
  color: white;
  font-family: "Mulish", sans-serif;
  z-index: 5;
  margin-top: 3rem;
}

.btn a {
  padding: 8px 18px;
  border: 1px solid #fedb7e;
  border-radius: 15px;
  background-color: black;
  color: white;
  text-decoration: none;
}

.btn a:hover {
  background: linear-gradient(
    94.75deg,
    #d19a08 0%,
    #fedb7e 16.49%,
    #ebb935 43.37%,
    #fcd776 74.96%,
    #d19a08 100%
  );
  cursor: pointer;
  color: black;
}

.eventsPlaceholder {
  width: 22vw;
  opacity: 0;
}
