* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --span-font-size: 20px;
  --label-font-size: 22px;
  --gender-control-height: 55px;
  --gender-options-gap: 25px;
  --gender-inter-gap: 5px;
}

.formControl {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  height: var(--gender-control-height);
  justify-content: space-between;
  font-size: var(--label-font-size);
}

.genderOptions {
  display: flex;
  align-items: center;
  gap: var(--gender-options-gap);
  font-size: var(--span-font-size);
  padding-left: 10px;
  height: 20px;
}

.genderContent {
  display: flex;
  gap: var(--gender-inter-gap);
}

.genderContent:hover {
  cursor: pointer;
}

.genderIcon {
  height: calc(var(--span-font-size) - 5px);
  width: calc(var(--span-font-size) - 5px);
  border-radius: 50%;
  position: relative;
  outline: 1px solid gold;
  /* padding: 2px; */
}

.genderIcon::after {
  position: absolute;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: 2;
  top: 0;
  left: 0;
  transform: scale(0);
  transition: 0.2s;
}

.genderContent > input {
  position: relative;
}

.selected::after {
  background-color: gold;
  transform: scale(0.88);
}

.genderContent {
  display: flex;
  gap: var(--gender-inter-gap);
  align-items: center;
}
.genderLabel{
  /* padding-left: 5px; */
}
@media screen and (max-width:900px) {
  .genderLabel{
    font-size: 18px;
  }
  .genderOptions{
    font-size: 16px;
  }
}

@media screen and (max-width: 800px) {
  :root {
    --span-font-size: 15px !important;
  }

  .genderLabel {
    font-size: 16px;
  }

  .genderOptions {
    font-size: 12px;
    gap: 20px;
  }
}
