.hamContainer {
  position: fixed;
  z-index: 30;
  cursor: pointer;
  right: 3rem;
  top: 3rem;
}

.hamContainer:hover .ham {
  background-color: #ebb935;
}

.hamContainer:hover .ham2 {
  background-color: #ebb935;
}

.hamContainer:hover .ham3 {
  background-color: #ebb935;
}

.ham {
  width: 24px;
  height: 2.4px;
  cursor: pointer;
  border-radius: 50px;
  background-color: rgb(255, 255, 255);
  transition: all 200ms ease-in-out;
}

.ham2 {
  width: 24px;
  margin-top: 0.3rem;
  height: 2.4px;
  border-radius: 50px;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  transition: all 200ms ease-in-out;
}

.ham3 {
  width: 24px;
  margin-top: 0.3rem;
  height: 2.4px;
  border-radius: 50px;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  transition: all 200ms ease-in-out;
}

.info {
  text-align: right;
  font-family: "Mulish";
  margin: 1rem 2rem;
}

.menu {
  background-color: #000;
  border-bottom: 2px solid #4e3800;
  color: white;
  display: flex;
  z-index: 20;
  position: fixed;
  width: 100vw;
  min-height: 85vh;
}

i {
  margin-left: 0.4rem;
}

.container {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 20;
  background: hsla(0, 0%, 0%, 0.675);
  transform-origin: center;
  /* transition: all 0.3s; */
}

.left {
  display: flex;
  width: 80%;
}

.about {
  background: rgba(39, 39, 39, 0.4);
  border-radius: 14px;
  margin: 4rem 3rem;
  padding: 2rem 1rem;
  backdrop-filter: blur(2px);
  width: 40%;
  border: 2px solid #4e3800;
}

.text {
  margin: 2rem;
  font-family: "Mulish";
  font-size: 1.2rem;
  line-height: 1.4rem;
}

.map {
  background: rgba(39, 39, 39, 0.4);
  border-radius: 14px;
  overflow: hidden;
  margin: 4rem 3rem;
  width: 30%;
  backdrop-filter: blur(2px);
  border: 2px solid #4e3800;
}

.heading {
  background: linear-gradient(
    94.75deg,
    #d19a08 0%,
    #fedb7e 27.6%,
    #eac460 50%,
    #d19a08 66.15%,
    #d19a08 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-family: "Allura";
  margin: 2rem;
  font-size: 4rem;
}

.right {
  display: flex;
  flex-direction: column;
  font-family: "Mulish";
  justify-content: center;
  text-align: center;
  font-size: 1.4rem;
}

.right > div {
  margin-block: 0.7rem;
  cursor: pointer;
}

.right > a {
  margin-block: 0.7rem;
  cursor: pointer;
}

.bl {
  position: absolute;
  bottom: 0;
  left: -17px;
  width: 17%;
  mix-blend-mode: hard-light;
}

.br {
  position: absolute;
  bottom: 0;
  right: 0px;
  width: 17%;
  mix-blend-mode: hard-light;
}

.tl {
  position: absolute;
  top: 0;
  left: -10px;
  width: 24%;
  mix-blend-mode: hard-light;
}

.icon {
  position: absolute;
  width: 18px;
  right: 8px;
}

.mt {
  position: absolute;
  top: 0;
  left: 850px;
  width: 23%;
  mix-blend-mode: hard-light;
}

.mb {
  position: absolute;
  bottom: 0;
  left: 600px;
  width: 14%;
  mix-blend-mode: hard-light;
}

.hamFull {
  width: 100vw;
  height: 100vh;
  background: hsla(0, 0%, 0%, 0.675);
}

a {
  text-decoration: none;
  color: white;
}

.list::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 24px;
  background: linear-gradient(
    94.75deg,
    #d19a08 0%,
    #fedb7e 27.6%,
    #eac460 50%,
    #d19a08 66.15%,
    #d19a08 100%
  );
  width: 150px;
  left: 180px;
  top: 15px;
  height: 4px;
  transform: scale(0);
  transition: transform 250ms ease-in-out;
  transform-origin: 100% 50%;
}

.list:hover::after {
  transform: scaleX(1);
}

@media (max-width: 800px) {
  .left {
    display: none;
  }

  .right {
    margin-inline: auto;
  }

  .menu {
    width: 100vw;
  }

  .bl {
    display: none;
  }

  .mt {
    display: none;
  }

  .mb {
    display: none;
  }

  .br {
    width: 60%;
  }

  .tl {
    width: 80%;
  }
}

@media (max-width: 1300px) {
  .heading {
    font-size: 3rem;
  }
}

@media (max-width: 1050px) {
  .heading {
    font-size: 2.5rem;
  }

  .text {
    font-size: 1rem;
  }
}

@media (max-width: 900px) {
  .about {
    display: none;
  }

  .map {
    width: 60%;
  }

  .left {
    width: 70%;
  }
}

@media (max-width: 450px) {
  .hamContainer {
    transform: scale(0.9);
  }
}

@media screen and (max-width: 650px) {
  .hamContainer {
    top: 2.4rem;
    right: 2.4rem;
  }
}
