.lander{
    width: 100vw;
    height: 100vh;
    background: url(../Assets/background.png) no-repeat center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.logo{
    position: absolute;
    width: 3.5%;
    left: 2vw;
    top: 2vh;
}

.window, .goldrings-img{
    width: 68%;
    object-fit: cover;
    position: absolute;
    left: 16%;
}

.goldrings-img-up{
    transform: rotateX(180deg) translateY(100%);
}

.goldrings{
    animation: rotateRings 10s infinite;
}

@keyframes rotateRings{
    from{
        transform: rotate(0deg) scale(1.03);
    }
    to{
        transform: rotate(359deg) scale(1.03);
    }
}

.king{
    width: 59%;
    position: absolute;
    left: 20.5%;
}