:root {
  --king_wid: 50%;
  --title_wid: 38%;
}

.lander {
  width: 100vw;
  min-height: 100vh;
  background: url(../Assets/background-min.png) no-repeat center;

  background-size: cover;
  position: relative;
  overflow: hidden;
}

.logo {
  position: absolute;
  width: 3.5%;
  left: 2vw;
  top: 2vh;
  z-index: 2;
}

.window {
  width: 59vw;
  object-fit: cover;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  transform-origin: 50% 0;
  z-index: 2;
}

/* king */
.kingContainer {
  position: absolute;
  top: 0;
  left: calc(50% - var(--king_wid) / 2);
  width: var(--king_wid);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 4;
}

/* king eyes */
.eyeSvgContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 43.5%;
  transform: translateX(-0.85%);
}

.eyeSvgContainer::after {
  position: absolute;
  content: "";
}

@keyframes eye-animation {
  0% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.king {
  width: 100%;
  /* top:30%; */
  top: 0;

  /* position: absolute; */
  /* left:50%; */
  /* transform: translateX(-50%) */
  /* left: 25%; */
}

.leftEye,
.rightEye {
  width: 3%;
  animation: eye-animation 2.5s 1s cubic-bezier(0.05, 0.59, 0.02, 0.81) infinite;
}

.leftEye {
  transform: rotate(7deg) translateX(22.5%);
}

.rightEye {
  transform: rotate(-7deg) translateX(-22.5%);
}

/* OASIS title */
.title {
  position: absolute;
  width: var(--title_wid);
  left: calc(50% - var(--title_wid) / 2);
  top: 54%;
  z-index: 5;
}

/* register btn */
.register {
  position: absolute;
  width: 100%;
  top: 92%;
  display: flex;
  justify-content: center;
  color: white;
  font-family: "Mulish", sans-serif;
  z-index: 5;
}

.register div {
  padding: 8px 18px;
  border: 1px solid #fedb7e;
  border-radius: 15px;
}

.register div:hover {
  background: linear-gradient(
    94.75deg,
    #d19a08 0%,
    #fedb7e 16.49%,
    #ebb935 43.37%,
    #fcd776 74.96%,
    #d19a08 100%
  );
  cursor: pointer;
  color: black;
}

/* icons */
.icons {
  display: flex;
  position: absolute;
  bottom: 2%;
  right: 2%;
  width: 10%;
  justify-content: space-evenly;
  z-index: 5;
}

.icons svg {
  width: 20px;
  cursor: pointer;
}

.icons svg:hover path {
  fill: url(#paint0_linear_737_546);
}

.leftLava {
  overflow: hidden;
  width: 50px;
  --left-lava-height: 300px;
  height: var(--left-lava-height);
  position: absolute;
  left: 8%;
  top: 32%;
  display: flex;
  justify-content: space-around;
  /* border:2px solid red; */
  /* position: relative; */
}

.leftLava > div {
  /* border:1px solid white; */
  width: 25%;
  overflow: hidden;
}

.leftLava__1 {
  height: 70%;
  /* overflow: hidden; */
}

.leftLava__4 {
  height: 60%;
  position: relative;
  /* top:20%; */
}

.leftLava__1Img {
  position: relative;
  /* top:-100px; */
  animation: translate-left-lava__1 7s linear infinite forwards;
}

.leftLava__2Img {
  position: relative;
  animation: translate-left-lava__2 8s linear infinite forwards;
}

.leftLava__3Img {
  position: relative;
  animation: translate-left-lava__3 10s linear infinite forwards;
}

.leftLava__4Img {
  animation: translate-left-lava__4 13s linear infinite;
  position: relative;
  /* left:-20px; */
}

/* @keyframes translate-left-lava__1--img {
    from{
        transform: translate(0,0);
    }
    to{
        transform: translate(-20px,200px);
    }
    
} */
@keyframes translate-left-lava__4 {
  0% {
    transform: translate(0, -100%);
  }
  25% {
    transform: translate(0, -50%);
  }
  50% {
    transform: translate(0, 0%);
  }
  75% {
    transform: translate(0, 50%);
  }
  100% {
    transform: translate(0, 100%);
  }
}

@keyframes translate-left-lava__3 {
  0% {
    transform: translate(0, -100%);
  }
  25% {
    transform: translate(0, -50%);
  }
  50% {
    transform: translate(0, 0%);
  }
  75% {
    transform: translate(0, 50%);
  }
  100% {
    transform: translate(0, 100%);
  }
}

@keyframes translate-left-lava__2 {
  0% {
    transform: translate(0, -100%);
  }
  25% {
    transform: translate(0, -50%);
  }
  50% {
    transform: translate(0, 0%);
  }
  75% {
    transform: translate(0, 50%);
  }
  100% {
    transform: translate(0, 130%);
  }
}

@keyframes translate-left-lava__1 {
  0% {
    transform: translate(0, -100%);
  }
  25% {
    transform: translate(0, -50%) rotate(3deg);
  }
  50% {
    transform: translate(0, 0%) rotate(0deg);
  }
  75% {
    transform: translate(0, 50%) rotate(3deg);
  }
  100% {
    transform: translate(0, 100%);
  }
}

@media screen and (max-width: 1000px) {
  :root {
    --king_wid: 60%;
    --title_wid: 45%;
  }

  .window {
    width: 65vw;
    height: auto;
  }

  .goldringsImg {
    width: 62%;
  }

  .title {
    top: 60%;
  }

  .icons {
    width: 14%;
  }
}

@media screen and (max-width: 800px) {
  .logo {
    width: 4.5%;
  }

  .title {
    top: 55%;
  }

  .register {
    top: 87%;
  }
}

@media screen and (max-width: 450px) {
  :root {
    --king_wid: 85%;
    --title_wid: 85%;
  }

  .logo {
    top: calc(98% - 8vw);
    width: 8vw;
  }

  .window {
    width: 130vw;
  }

  .goldringsImg {
    width: 125%;
  }

  .kingContainer {
    top: 20%;
  }

  .title {
    top: 55%;
  }

  .register {
    font-size: 0.8rem;
    top: 83%;
  }

  .icons {
    width: 30%;
  }

  .icons svg {
    width: 16px;
  }
}
