:root {
  --king_wid: 56%;
  --title_wid: 27%;
  --vh: 1vh;
  overflow-x: hidden;
}

.landerWrapper {
  width: 100vw;
  min-height: calc(100*var(--vh));
  background: url(../Assets/background.png) no-repeat center;
  overflow-y: visible;
  background-size: cover;
  position: relative;
}

.oasisLogo {
  position: absolute;
  width: 3.5%;
  left: 2vw;
  top: calc(2*var(--vh));
  z-index: 2;
}

/* portal window */
.portalWindow {
  width: 59vw;
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-2%);
  transform-origin: 50% 0;
  z-index: 3;
  overflow: hidden;
  clip-path: ellipse(29vw 27.85vw at 50% -2%);
}

.portalWindowImg1 {
  width: 100%;
  object-fit: cover;
}

.portalWindowImg {
  width: 59vw;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-2%);
  transform-origin: 50% 0;
}

.portalWindowClouds {
  position: absolute;
  width: 40%;
}

.windowCloud1 {
  bottom: 10%;
  /* right: -27%; */
  animation: cloud1Anim 250s ease infinite;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

.windowCloud2 {
  bottom: 10%;
  /* left: -10%; */
  width: 60%;
  animation: cloud2Anim 220s ease infinite;
}

.windowCloud3 {
  bottom: 10%;
  /* left: 100%; */
  animation: cloud2Anim 300s ease infinite;
}

@keyframes cloud1Anim {
  0% {
    right: -27%;
  }
  100% {
    right: 85%;
  }
}

@keyframes cloud2Anim {
  0% {
    left: -10%;
  }
  100% {
    left: 85%;
  }
}

@keyframes cloud3Anim {
  0% {
    left: -25%;
  }
  100% {
    left: 100%;
  }
}

/* king */
.kingBodyWrapper {
  top: 0;
  position: absolute;
  left: 50%;
  width: var(--king_wid);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 4;
  transform: translateX(-50%);
}

/* king eyes */
.kingEyesWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 36.75%;
  transform: translateX(-0.85%);
}

.kingEyesWrapper::after {
  position: absolute;
  content: "";
}

@keyframes eye-animation {
  0% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.kingBody {
  top: 0;
  width: 100%;
}

.leftEye,
.rightEye {
  width: 3%;
  animation: eye-animation 5.5s 1s cubic-bezier(0.05, 0.59, 0.02, 0.81) infinite;
}

.leftEye {
  transform: rotate(3deg) translateX(27.5%) translateY(37%) scale(0.95);
}

.rightEye {
  transform: rotate(-3deg) translateX(-28.5%) translateY(37%) scale(0.95);
}

/* OASIS title */
.oasisTitle {
  position: absolute;
  width: var(--title_wid);
  left: 50%;
  top: 65%;
  z-index: 5;
  transform: translateX(-50%);
}

.titleBgGrad {
  position: absolute;
  width: 50vw;
  height: calc(40*var(--vh));
  left: 50%;
  top: 60%;
  z-index: 4;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 40%,
    rgba(0, 0, 0, 0.72) 55%,
    rgba(0, 0, 0, 0.92) 80%,
    rgba(0, 0, 0, 0) 100%
  );
  transform: translateX(-50%);
  filter: blur(44px);
}

/* register btn */
.registerWrapper {
  position: absolute;
  width: 100%;
  top: 91%;
  display: flex;
  justify-content: center;
  color: white;
  font-family: "Mulish", sans-serif;
  z-index: 5;
}

/* .registerWrapper div {
  padding: 8px 18px;
  border: 1px solid #fedb7e;
  border-radius: 15px;
  background: linear-gradient( 94.75deg, #d19a08 0%, #fedb7e 16.49%, #ebb935 43.37%, #fcd776 74.96%, #d19a08 100% );
  font-weight: bold;
  color: black;
}

.registerWrapper div:hover {
  cursor: pointer;
  color: white;
} */

/* icons */
.bottomWrapper {
  position: absolute;
  bottom: calc(2% + 1*var(--vh));
  display: flex;
  justify-content: flex-end;
  padding: 0 1.5vw;
  width: 100vw;
  align-items: center;
}

.oasisLogoBottom {
  display: none;
  width: 10%;
  z-index: 5;
}

.iconWrapper {
  display: flex;
  right: 2%;
  width: 10%;
  justify-content: space-evenly;
  z-index: 5;
}

.iconWrapper svg {
  width: 20px;
  cursor: pointer;
  height: fit-content;
  transform: scale(1.2);
}

.iconWrapper svg:hover path {
  fill: url(#paint0_linear_737_546);
}

.landerTransition {
  z-index: 4;
  width: 100vw;
  height: 15rem;
  position: absolute;
  bottom: -12%;
  margin: -10rem 0 -2rem 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.3) 20%,
    rgba(0, 0, 0, 0.7) 30%,
    rgba(0, 0, 0, 0.8) 40%,
    rgba(0, 0, 0, 0.95) 50%,
    rgba(0, 0, 0, 0.95) 60%,
    rgba(0, 0, 0, 0.8) 70%,
    rgba(0, 0, 0, 0) 100%
  );
}

@media screen and (max-width: 1000px) {
  :root {
    --king_wid: 60%;
    --title_wid: 38%;
  }

  .portalWindow {
    width: 65vw;
    height: auto;
    clip-path: ellipse(32vw 30.8vw at 50% -2%);
  }

  .portalWindowImg {
    width: 65vw;
  }

  .kingContainer {
    top: 10%;
  }

  .oasisTitle {
    top: 60%;
  }

  .iconWrapper {
    width: 15%;
  }
}

@media screen and (max-width: 800px) {
  .oasisLogo {
    width: 4.5%;
  }

  .kingBodyWrapper {
    top: 10%;
  }

  .oasisTitle {
    top: 55%;
  }

  .registerWrapper {
    top: 87%;
  }

  .titleBgGrad {
    width: 70vw;
    top: 64%;
    height: calc(15*var(--vh));
  }
}

@media screen and (max-width: 450px) {
  :root {
    --king_wid: 125%;
    --title_wid: 75%;
    --vh: .92vh;
  }

  .landerWrapper {
    background: url(../Assets/Lander/phoneLanderBg.png) no-repeat center center;
    background-size: cover;
  }

  .landerTransition {
    bottom: 0;
  }

  .oasisTitle {
    top: 62%;
  }

  .bottomWrapper {
    justify-content: space-between;
  }

  .oasisLogoBottom {
    display: block;
  }

  .portalWindow {
    width: 130vw;
    clip-path: ellipse(64.5vw 61.5vw at 50% -2%);
  }

  .portalWindowImg {
    width: 130vw;
  }

  @keyframes cloud1Anim {
    0% {
      right: -20%;
    }
    100% {
      right: 85%;
    }
  }
  
  @keyframes cloud2Anim {
    0% {
      left: -10%;
    }
    100% {
      left: 85%;
    }
  }
  
  @keyframes cloud3Anim {
    0% {
      left: -25%;
    }
    100% {
      left: 105%;
    }
  }
  .goldringsImg {
    width: 125%;
  }

  .kingBodyWrapper {
    top: 12%;
  }

  .oasiTitle {
    top: 55%;
  }

  .titleBgGrad {
      width: 100vw;
      top: 55%;
      height: calc(20*var(--vh));
      z-index: 4;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0) 55%, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 1) 100%)
  }

  .registerWrapper {
    font-size: 0.8rem;
    top: 83%;
  }

  .iconWrapper {
    width: 30%;
  }

  .iconWrapper svg {
    width: 16px;
  }
}
