.goldringsImg {
  --width: 60.5vw;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(
    calc(-50% + var(--offsetX)),
    calc(-53% + var(--offsetY))
  );
  width: calc((1 + var(--stretch)) * var(--width));
  height: calc((1 - var(--stretch)) * (var(--width) + 10px));
  transform-origin: calc(50% - var(--offsetX)) calc(50% - var(--offsetY));
  animation: rotateRings var(--speed) infinite linear;
  z-index: 3;
  border-radius: 50%;
}

@keyframes rotateRings {
  0% {
    transform: translate(
        calc(-50% + var(--offsetX)),
        calc(-53% + var(--offsetY))
      )
      rotate(calc(0deg + var(--offsetRot)));
    width: calc((1 + var(--stretch)) * var(--width) + 4px);
    height: calc((1 - var(--stretch)) * (var(--width) + 10px) + 4px);
  }

  50% {
    width: calc((1 + var(--stretch)) * var(--width) - 4px);
    height: calc((1 - var(--stretch)) * (var(--width) + 10px) - 4px);
  }

  100% {
    transform: translate(
        calc(-50% + var(--offsetX)),
        calc(-53% + var(--offsetY))
      )
      rotate(calc(359deg + var(--offsetRot)));
    width: calc((1 + var(--stretch)) * var(--width) + 4px);
    height: calc((1 - var(--stretch)) * (var(--width) + 10px) + 4px);
  }
}


@media screen and (min-width: 1200px) and (max-width: 1300px) {
  .goldringsImg {
    --width: 51vw;
  }
}

@media screen and (max-width: 1000px) {
  .goldringsImg {
    --width: 61vw;
  }
}

@media screen and (max-width: 800px) {
  .goldringsImg {
    --width: 131vw;
  }
}

@media screen and (max-width: 320px) {
  .goldringsImg {
    --width: 201vw;
  }
}

@media screen and (max-width: 800px) and (min-width: 750px) and (max-height: 900px) {
  .goldringsImg {
    --width: 101vw;
  }
}
