.goldringsImg {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(
    calc(-50% + var(--offsetX)),
    calc(-53% + var(--offsetY))
  );
  width: 60vw;
  transform-origin: calc(50% - var(--offsetX)) calc(50% - var(--offsetY));
  animation: rotateRings var(--speed) infinite linear;
  z-index: 3;
  filter: var(--filter);
  border-radius: 50%;
}

@keyframes rotateRings {
  from {
    transform: translate(
        calc(-50% + var(--offsetX)),
        calc(-53% + var(--offsetY))
      )
      rotate(0deg);
  }

  to {
    transform: translate(
        calc(-50% + var(--offsetX)),
        calc(-53% + var(--offsetY))
      )
      rotate(359deg);
  }
}

@media screen and (max-width: 1000px) {
  .goldringsImg {
    width: 65vw;
  }
}

@media screen and (max-width: 450px) {
  .goldringsImg {
    width: 131vw;
  }
}
