.wrapper {
    min-width: 100vw;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: black;
}

video {
    width: 25%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% ,-50%);
}

@media screen and (max-width: 800px) {
    video {
        width: 40%;
    }
}

@media screen and (max-width: 450px) {
    video {
        width: 60%;
    }
}