*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --tic-gap:1.5rem;
}

.regFormBox {
    background-color: rgb(16, 16, 16);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #524916;
    border-radius: 0rem 0.5rem 0.5rem 0rem;
    border-left: none;
    overflow-y: scroll;
}

.regForm {
    width: 85%;
    max-width: 450px;
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    /* margin: 20px 0; */
    /* padding: 20px 0 ; */
    /* overflow-y: scroll; */
    /* transform: translateX(-10%); */
    /* border: 1px solid white; */
}

.regFormBox::-webkit-scrollbar{
    width: 3px;
    display: none;
    /* transform: translateX(4px); */

}
.regFormBox::-webkit-scrollbar-track{
    /* width: 4px; */
    background-color: #524916;
}
.regFormBox::-webkit-scrollbar-thumb{
    background-color: #d19a08;
    border-radius: 100vw;
    /* max-height: 30px; */
}

.regForm > *{
    /* border: 1px solid gold; */
}


button.submitForm{
    padding: 10px 34px;
    

  border: 1px solid #fedb7e;
  border-radius: 25px;
  
  margin: 0 auto;
  background: none;
  color: white;
  font-size: 1.3rem;
 

}

button.submitForm:hover {
    background: linear-gradient(94.75deg,
            #d19a08 0%,
            #fedb7e 16.49%,
            #ebb935 43.37%,
            #fcd776 74.96%,
            #d19a08 100%);
    cursor: pointer;
    color: black;
}

.textInputContainer{
    display: flex;
    flex-direction: column;
    gap:var(--tic-gap)
}

@media screen and (max-width: 800px) {
    .submitForm{ 
        font-size: .8rem !important;
    }
}

@media screen and (max-width:760px) {
    .regFormBox{
        border: 2px solid #524916;
        border-radius: 0rem 0rem 1.8rem 1.8rem;
        border-top: none;
        position: relative;
}

    .regForm{
        overflow-y: scroll;
        box-sizing: border-box;
        padding: 0px 0 20px 0;
    }

    .regForm::-webkit-scrollbar{
        display: none;
    }

    
}
