.regPage {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 10;

    background: hsla(0, 0%, 0%, 0.675);

    display: grid;
    place-items: center;


}

.formContainer{
    width: 86%;
    height: 86%;
    box-shadow: 0 0 10px #9f9874b3;
    border-radius: 0.5rem;
    display: grid;
    grid-template-columns:0.35fr .65fr ;
    overflow: hidden;
    /* z-index: 2; */

}


@media(max-width:760px){
    .formContainer{
        grid-template-columns: 1fr;
        width: 75%;
        
    }
}

@media(max-width:550px){
    .formContainer{
        width: 80%;
    }
}

@media(max-width:400px){
    .formContainer{
        width: 85%;
    }
}
