.regPage {
  z-index: 10;
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: grid;
  place-items: center;
  background: hsla(0, 0%, 0%, 0.675);
  animation: showPage 0.2s ease;
}

.close {
  top: 4%;
  z-index: 6;
  right: 4%;
  width: 20px;
  position: absolute;
  cursor: pointer;
}

.close:hover path {
  fill: url(#paint0_linear_737_546);
}

.removePage {
  animation: removePage 0.3s ease;
}

@keyframes removePage {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes showPage {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.formContainer {
  width: 86%;
  max-width: 1300px;
  position: relative;
  height: 86%;
  max-height: 800px;
  box-shadow: 0 0 10px #9f9874b3;
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: 0.35fr 0.65fr;
  overflow: hidden;
}

@media (max-width: 760px) {
  .formContainer {
    width: 90%;
    height: 95%;
    max-width: 400px;
    border-radius: 1.5rem;
    grid-template-columns: 1fr;
    grid-template-rows: 0.35fr 0.8fr;
    transform: translateY(-1%);
    box-shadow: none;
  }

  .close {
    right: 6%;
    top: 3%;
    width: 15px;
  }
}
