.regPage {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 2;

    background: hsla(0, 0%, 0%, 0.7);

    display: grid;
    place-items: center;
}

.formContainer{
    width: 86%;
    height: 86%;
    box-shadow: 0 0 10px #9f9874b3;
    border-radius: 0.5rem;
    display: grid;
    grid-template-columns:0.35fr .65fr ;
    overflow: hidden;
}
