.title {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  letter-spacing: 0.02em;
  background: linear-gradient(
    94.75deg,
    #d19a08 0%,
    #fedb7e 27.6%,
    #eac460 50%,
    #d19a08 66.15%,
    #d19a08 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.heading {
  font-family: "Mulish";
  font-weight: 700;
  font-size: 2rem;
  line-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-inline: 2rem;
  color: rgb(209, 209, 209);
}
@media (max-width: 800px) {
  .heading {
    font-size: 1.4rem;
  }
}
