.shard {
  width: 6px;
  height: 2px;
  border-radius: 1px;
  position: absolute;
  top: 0;
  left: 50vw;
  z-index: 1;
  background-color: var(--bgCol);
  box-shadow: 0 0 3px 1px var(--bgCol);
  animation: shardMove 5s ease-out infinite var(--delay);
}

@keyframes shardMove {
  0% {
    transform: translate(0, 0) rotate(var(--rot));
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(var(--offX), var(--offY)) rotate(var(--rot));
    opacity: 0;
  }
}
