.title {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading {
  background: linear-gradient(
    94.75deg,
    #d19a08 0%,
    #fedb7e 27.6%,
    #eac460 50%,
    #d19a08 66.15%,
    #d19a08 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

@media (max-width: 800px) {
  .heading {
    font-size: 1.4rem;
  }
}
