.front {
  animation: pulse 3s ease 0s infinite;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

.design {
  animation: pulse 3s ease 3s infinite;
}

.back {
  animation: pulse 3s ease 6s infinite;
}

svg {
    width: 100%;
}

@keyframes pulse {
  0% {
    filter: saturate(0.2);
  }

  65% {
    filter: saturate(1);
  }
  100% {
    filter: saturate(0.2);
  }
}
